/* Reset básico para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1A1A1A; /* Preto profundo */
    color: #FFFFFF; /* Branco neve */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #282828; /* Preto levemente mais claro */
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); /* Sombra suave */
    border-radius: 12px;
    width: 350px;
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.6); /* Sombra mais intensa */
}

h1 {
    font-size: 2em;
    color: #FFD700; /* Dourado */
    margin-bottom: 20px;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    color: #C0C0C0; /* Prata */
    margin-bottom: 15px;
    font-weight: 600;
}

.form {
    margin-bottom: 25px;
}

label {
    font-size: 1.1em;
    color: #C0C0C0; /* Prata */
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #333; /* Borda escura */
    border-radius: 8px;
    font-size: 1em;
    background-color: #333; /* Fundo escuro */
    color: #FFFFFF;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #FFD700; /* Dourado */
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.6); /* Sombra dourada */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #800020; /* Burgundy */
    color: #FFFFFF;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #50C878; /* Verde esmeralda */
    transform: translateY(-2px);
}

button:active {
    background-color: #6B8E23; /* Verde oliva escuro */
    transform: translateY(0);
}