<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Pagina random</title>
</head>
<body style="background-color: {{cor_fundo}};">
    
    <header>
        <nav>
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/cadastroCor">Cadastro cor</a></li>
                <li><a href="/comentarios">Comentarios</a></li>
            </ul>
        </nav>
    </header>

    <main class="curiosidades">
        <h1>Curiosidades sobre Basquete</h1>
        <p>{{texto_curiosidade}}</p>
        <img src="../static/images/{{imagem}}" alt="Imagem" style="width: 200px; margin: 10px;">
    </main>

    <footer>
        <p>&copy; 2025 Basquete Inc.</p>
    </footer>

</body>
</html>