<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sobre.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/curiosidades">Início</a></li>
                <li><a href="/cadastro">Cadastro comentário teste</a></li>
                <li><a href="/cadastroCor">Cadastro cor</a></li>
                <li><a href="/comentarios">Comentarios</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>Sobre o Basquete</h1>
        <p>

            O basquete foi criado em 1891 por James Naismith, um professor de educação física canadense, na cidade de Springfield, Massachusetts, EUA. Naismith foi encarregado de inventar um jogo indoor para manter seus alunos ativos durante o inverno, quando o clima frio impedia a prática de esportes ao ar livre. Ele queria um jogo que fosse dinâmico e que combinasse habilidades físicas e mentais.

            Usando um simples cesto de pêssegos e uma bola de futebol, Naismith desenvolveu 13 regras básicas, que formaram a estrutura inicial do jogo. As primeiras partidas foram jogadas em um ginásio com nove jogadores em cada time. A ideia de lançar a bola em um cesto para marcar pontos foi uma inovação simples, mas eficaz.

            O basquete se espalhou rapidamente pelos Estados Unidos, especialmente após ser adotado por escolas e universidades. Nos anos seguintes, as regras do jogo foram refinadas e a modalidade começou a crescer em popularidade. Em 1936, o basquete foi incluído como esporte oficial nos Jogos Olímpicos de Verão em Berlim.

            O desenvolvimento das ligas profissionais também contribuiu para o crescimento do esporte. Nos Estados Unidos, a National Basketball Association (NBA), fundada em 1946 como Basketball Association of America (BAA), se tornou a principal liga de basquete do mundo e ajudou a solidificar o esporte como um dos mais populares globalmente.

            Hoje, o basquete é jogado em diversos níveis, desde a escola até as ligas profissionais, e continua a evoluir, com atletas como Michael Jordan, Kobe Bryant e LeBron James se tornando ícones globais, e a NBA sendo um fenômeno de entretenimento e cultura.

        </p>
    </main>

    <footer>
        <p>&copy; 2025 Basquete Inc.</p>
    </footer>
</body>
</html>
